img{
	display: block;
	position: absolute;
	right: 75px;
	top: 25px;
	max-height: 150px;
	max-width: 150px;
}

.item-container{
	border: 1px solid #000000;
	width: 500px;
	height: 200px;
	border-radius: 25px;
	margin: 15px;
	box-shadow: 3px 3px #000000;
	position: relative;

}

.item-description{
	position: absolute;
	bottom: 0;
	left: 20px;
}

.tack{
	position: absolute;
	top: 5px;
	right: 5px;
	height: 50px;
	width: 50px;
}