.footer {
    background-color: #002d39;
    opacity: 50%;
    background-blend-mode: multiply;
    color: #fff;
    height: 2.5rem;
    padding-top: 6px;
    text-align: center;
}


#page-container {
    position: relative;
    min-height: 100vh;
  }

/* #content-wrap {
    padding-bottom: 2.5rem;
  } */