.header{
    height: 130px;
    background: #002d39;
    color: white;
    opacity: .75;
    background-blend-mode: multiply;
    padding: 0px;
}

#header-logo {
    min-width: 350px;
    position: relative;
    margin-bottom: auto;
    margin-right: auto;
    margin-left: auto;
    padding: 0;
    right: 100px;
    top: 0px;
}

.my-a {
    /* display: inline-block; */
    margin: 0 auto;
}
