body {
    background: url(BG-1080.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    overflow-x: hidden;
  }

  .footer {
    background-color: #002d39;
    opacity: 60%;
    background-blend-mode: multiply;
    color: #fff;
    height: 2.5rem;
    padding-top: 6px;
    text-align: center;
    margin-top: -2.5rem;
  }

  #page-container {
    position: relative;
    min-height: 100vh;
  }

  span[class^="PIN"] {
    position: absolute;
    top: 25px;
    right: 40px;
    z-index: 1; 
    box-shadow: 3px 3px 5px rgba(0,0,0,.6);
  }